<div class='container'>
    <div class='text-center'>
        <h1 class='font-weight-bolder'>
            <span style='color:#ff4500;'>Bee</span> <span style='color:#696969;'>bike</span>へ ようこそ
        </h1>
        <div class='col'>
            こちらのサイトでは、バイクの中古販売やオーナー同士のコミュニケーションを通して、</br>
            皆様の楽しいバイクライフを全力でバックアップして参ります！</br>
            </br>
            当サイトの使用方法や注意点に関しましては、以下の通りです。
        </div>
    </div>
    <div class='row'>
        <h4>
            当サイトの使用方法に関して</br>
            ・中古バイクのフリーマーケットサイトとしてご利用下さい。</br>
            ・
        </h4>
        <h4>
            注意点に関して</br>
            ・他のユーザーが不快に思う発言は原則禁止です。
        </h4>
    </div>
</div>