<div class='container'>
    <div class='text-center'>
        <h1 class='font-weight-bolder'>
            <span style='color:#ff4500;'>Bee</span> <span style='color:#696969;'>bike</span>へ ようこそ
        </h1>
        <div class='col'>
            こちらのサイトでは、バイクの中古販売やオーナー同士のコミュニケーションを通して、</br>
            皆様の楽しいバイクライフを全力でバックアップして参ります！</br>
            </br>
            当サイトの使用方法や注意点に関しましては、以下の通りです。
        </div>
    </div>
    <div class='row'>
        <h4>
            当サイトの使用方法に関して</br>
            ・中古バイクのフリーマーケットサイトとしてご利用下さい。</br>
            ・出品者と購入希望者のコミュニケーションの場としても活用して頂けます。</br>
            ・商品の受け取り方法は出品者の方に指定して頂くことが可能です。</br>
        </h4>
        <h4>
            注意点に関して</br>
            ・他のユーザーが不快に思う発言は原則禁止です。</br>
            ・商品の状態に対してあまりにも高価または不適切な値段設定が確認された場合、状況によっては運営側で対処させて頂きます。</br>
            ・また上記のような商品を発見した場合、運営に報告をして頂くと早急に対処が可能な場合があります。</br>
        </h4>
    </div>
</div>