<div class='container'>
    <div class='text-center'>
        <h1>バイクを探す</h1>
    </div>
    <div><h3><i class="fa-solid fa-motorcycle"></i>新着バイク</h3></div>
    <div><h3><i class="fa-solid fa-motorcycle"></i>メーカーから探す</h3></div>
    <div><h3><i class="fa-solid fa-motorcycle"></i>メーカーから探す</h3></div>
    <div><h3><i class="fa-solid fa-motorcycle"></i>タイプから探す</h3></div>
    <div><h3><i class="fa-solid fa-motorcycle"></i>排気量から探す</h3></div>
</div>