<div class='container'>
    <div class='row'>
        <div class='col'>
            <h4>メーカー名編集</h4>
            <%= form_with model: @maker, url: admin_maker_path(@maker.id) do |f| %>
            <%= f.label :メーカー名 %>
            <%= f.text_field :name %>
            <%= f.submit '編集完了', class: 'btn btn-success' %>
            <% end %>
        </div>
    </div>
</div>