<footer id='footer'>
  <div class='about'>
      <a href='#' class='insta_btn' style='margin-top: 10px;'>
          <span>
            会社概要/プライバシーポリシー
          </span>
      </a>
  </div>
  <div class='copyright'>
      CopyRight caganocake.soreppoino
  </div>
</footer>