<footer id='footer'>
  <div class='icons'>
      <a href='#' class='insta_btn' style='margin-top: 10px;'>
          <span class='insta'>
            <i class='fab fa-instagram fa-lg'></i>
          </span>
      </a>
      <a href='#' class='social-icons' style='margin: 10px 30px 0'>
          <span class='twitter'>
            <i class='fa fa-twitter'></i>
          </span>
      </a>
      <a href='#' class='btn-social-icon-facebook' style='margin-top: 10px;'>
          <span class='facebook'>
            <i class='fa fa-facebook'></i>
          </span>
      </a>
  </div>
  <div class='copyright'>
      CopyRight caganocake.soreppoino
  </div>
</footer>