<footer id='footer'>
  <div class='container'>
    <div class='mx-auto'>
      <div class='about'>
      <a href='#' class='insta_btn' style='margin-top: 10px;'>
          <div class='text-center' style='color:#ffffff;'>
            会社概要/プライバシーポリシー
          </div>
      </a>
      </div>
      <div class='text-center' style='color:#ffffff;'>
        Copyright 2022 Bee bike
      </div>
    </div>
  </div>
</footer>